/* html{
    height: 100vh;
    width: 100vw;
}
*/
body {
  margin: 0;
}

.entry-area {
  width: 80%;
  margin: auto;
}

.text-area {
  width: 100%;
}

.landing-page-title{
  margin-top: 100px;
}

.col-md-6{
  padding: 0;
}
